<div class="container">
    <div class="col-lg-12">
        <h2> About Holistic Nutrition Calculator</h2>
        <p>Last updated - Monday Sept 5, 2;17 AM</p>

        <br>

        <p style="text-indent: 50px;">
            Holistic Nutrition Application is just a test application so I can learn the technologies needed to implement
            my dream application. However, while I am building this application I will implement the best programming practices
            and make this application the best that it can be. Scouts honour.

            <br>
            <br>
            Technologies
             <br>
            <ul>
                <li>Mongo DB</li>
                <li>Angular JS</li>
                <li>Spring Boot - MVC</li>
                <li>HTML5 Boilerplate</li>
            </ul>
        </p>

        <br>

        <p style="text-indent: 50px;">
            The application is way for users to track their calories, first and foremost, but also all of the other nutritional
            values that appear on a typical nutrition label. I would also like to track more of the minerals and macro nutritients,
            especially those found in fruits ad veggies. The calculator will be the main feature, making it available to everyone,
            even users without an account. The other features will be accessible to the users that register for a free account. These
            features include, but not limited, the ability to save caculations, create meals and a weekly meal planner, and to see
            nutritional value reports of eating habits.
        </p>

        <br>

        <h3>TODO - Service work not listed.</h3>

        <p>Last updated - Tuesday Sept 6, 12:04 AM</p>

        <br>

        <ul>
            <li>df= Easy : Calculate daily value percentage for the Total Nutrition Label <b>COMPLETED</b></li>
            <li>df= Easy : Calculate daily value percentage for the Single Item Nutrition Label <b>COMPLETED</b></li>
            <li>df= ??? : Research cookies and implement (for non registered users to returned without losing last calculation)</li>
            <li>df= Easy : Draw a basic design for the My Account page <b>COMPLETED</b></li>
            <li>df= Medium : Find way to track if a user is logged in.</li>
            <li>df= Easy : Enhance calculation UI to allow for logged in users to save calculations.</li>
            <li>df= Easy : Enhance calculation UI to allow for logged in users to load calculations.</li>
            <li>df= Easy : Draw a basic design for the meal planner page <b>COMPLETED</b></li>
            <li>df= Easy : Draw a basic design for the meal page <b>COMPLETED</b></li>
            <li>df= Easy : Create the meal page </li>
            <li>df= Easy : Create the meal planner page</li>
            <li>df= Easy : Create the registration page <b>COMPLETED</b></li>
            <li>df= Easy : Create the user account page</li>
            <li>df= ??? : Think of an implementation for the statistics page.</li>
            <li>df= Easy : Draw a basic design for the statistics page.</li>
            <li>df= Medium : Create the statistics page.</li>
            <li>df= Hard : Deploy database(easy) and backend service(hard and idk why) to the server.</li>
            <li>df= Easy ; Map out breakfast, lunch, and dinner nutrition recommendations for a balanced diet.</li>

        </ul>


        <br>

        <h3>Other nutritional values to add</h3>
        <ul>
            <li>folate</li>
            <li>magnesium</li>
            <li>niacin</li>
            <li>phosphorus</li>
            <li>potassium</li>
            <li>riboflavin</li>
            <li>selenium</li>
            <li>thiamine</li>
            <li>vitamin B12</li>
            <li>vitamin B6</li>
            <li>vitamin D</li>
            <li>vitamin E  </li>
            <li>zinc</li>
        </ul>
    </div>


</div>
