<div class="container" ng-controller="UserAccountCtrl">

    <div class="col-lg-12">

        <!-- Side Bar -->
        <div class="col-lg-3" >
            <h4>My Account</h4>
            <nav>
                <div class="container">
                    <div class="navbar-default">
                        <ul class="nav navbar-left">
                            <li><a>Log Goals</a></li>
                            <li><a>Edit Account</a></li>
                            <li><a>Sign Out</a></li>
                        </ul>
                    </div>
                </div >
            </nav>
        </div>

        <!-- Main Content -->
        <div class="col-lg-offset-1 col-lg-8">
            <!-- Goals Content -->
            <div></div>



            <!-- Account Editing Content -->
            <div></div>


        </div>


    </div>


</div>
